<mat-toolbar class="mb-5" color="primary">
	<button class="btn btn-outline-light" routerLink="/">< Back</button>
</mat-toolbar>
<div class="container">
	<mat-card class="mb-4">
		<mat-card-header>
			<mat-card-title>{{post.title}}</mat-card-title>
		</mat-card-header>
		<mat-card-content class="mb-0">
			<p class="px-3">{{post.body}}</p>
		</mat-card-content>
	</mat-card>
	<div class="row justify-content-between align-items-center">
		<div class="col-auto">
			<h5 class="mb-0">Comment</h5>
		</div>
		<div class="col-3">
			<mat-form-field class="w-100">
				<input matInput placeholder="Search" type="text" [(ngModel)]="search">
			</mat-form-field>
		</div>
	</div>
	<mat-list>
		<ng-container *ngFor="let item of comment | commentFilter: search">
			<mat-list-item class="h-auto">
				<h6 class="font-weight-bold" mat-line>{{item.name}}</h6>
				<p class="font-weight-light mb-2" mat-line>{{item.email}}</p>
				<p class="mb-4 comment" mat-line>{{item.body}}</p>
			</mat-list-item>
			<mat-divider class="mb-3"></mat-divider>
		</ng-container>
	</mat-list>
</div>