<mat-toolbar class="mb-5" color="primary"></mat-toolbar>
<div class="container">
	<mat-card class="mb-4" *ngFor="let item of list" [routerLink]="['/post', item.id]" mat-ripple>
		<mat-card-header>
			<mat-card-title>{{item.title}}</mat-card-title>
		</mat-card-header>
		<mat-card-content class="mb-0">
			<p class="px-3">{{item.body}}</p>
		</mat-card-content>
	</mat-card>
</div>